{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block stylesheets %}
<link href="{{ relative_path('./assets/css/home/about.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
{% include "partials/navbar.html.twig" %}

<div class="example-wrapper">
{% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<div class="container about d-flex justify-content-center">
  <div class="row">
  <div class="col justify-content-center">
    <div class="card" style="width: 20rem;">  
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore doloremque quam maiores fuga necessitatibus dicta vitae, aperiam molestias odit quia eius officia delectus perferendis vero consequuntur. Consectetur blanditiis sed eius.
          Dolorem repellat accusamus asperiores rem quod perspiciatis aspernatur quibusdam, sunt, aut impedit ipsa! Aut adipisci quibusdam quo voluptatibus ipsam modi nisi cupiditate? Asperiores repellat recusandae necessitatibus quibusdam ea temporibus.</p>   
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
