{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
<link href="{{ relative_path('./assets/css/registerConnexion/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
{% for message in app.flashes('warning') %}
<div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}
<div class="container mt-2">
    <div class="row" id="formLogin">
        <div class="col-sm-6 col-md-6 col-lg-8">
            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                    Vous êtes déjà connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe : </label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

              
                <button class="btn btn-lg btn-primary mt-2" type="submit">
                    Connexion
                </button>
            </form>
            <p><a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié</a></p>
        </div>
    </div>
</div>
<div class="eltRetrour">
    <div class="return">
        <a id="retour" href="{{ path("app_home") }}">Retour</a>
    </div>
</div>
{% endblock %}