{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<link href="{{ relative_path('./assets/css/home/home.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
{% include "partials/navbar.html.twig" %}

<div class="example-wrapper">
  {% for message in app.flashes('success') %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
    <div class="sport-header">
      <h1 class="title">Symfony Sport</h1>
      <div class="images"><img id="foot" src="{{ asset("./assets/images/foot.png") }}" class="img-thumbnail" alt="logo d'un personnage jouant au foot"></div>
    </div>
  <div class="blocPage">
    <div class="sportsElts">

      {%for sport in sports %}

      <div class="box box{{sport.id}}">
        <div class="box-body">
          <h5 class="box-title">{{ sport.name }}</h5>
          <p class="box-text">{{ sport.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  {% endblock %}