{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
<link href="{{ relative_path('./assets/css/registerConnexion/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="title">Inscription</h1>
<div class="container">
    <div class="row" id="formRegister">
        <div class="col-sm-6 col-md-6 col-lg-8">

        {{ form_start(registrationForm) }}
    
        <div class="form-group mb-2">
                <label class="form-label" for="nom">Nom :</label>
                {{ form_widget(registrationForm.nom, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(registrationForm.nom) }} 
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="prenom">Prénom :</label>
            {{ form_widget(registrationForm.prenom, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.prenom) }}
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="departements">Votre département :</label>
            {{ form_widget(registrationForm.departements, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.departements) }}
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="email">Votre email :</label>
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        <div class="form-group">
                <label for="password" class="col-sm-2 col-form-label">Mot de passe :</label>
                {{ form_widget(registrationForm.plainPassword, {
                'attr': {'class': 'form-control'}
                }) }}
                {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="custom-control custom-checkbox text-center">
            <label class="custom-control-label" for="nom">Cocher la case pour valider l'inscription :</label>
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': "custom-control-input"} }) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
        <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Inscription</button>
        </div>     

    {{ form_end(registrationForm) }}
            
        </div>
    </div>
</div>
<div class="eltRetrour">
    <div class="return">
        <a id="retour" href="{{ path("app_home") }}">Retour</a>
    </div>
</div>

{% endblock %}
