<ul class="nav justify-content-center align-items-center bg-danger">
  <li class="nav-item">
    <h2 class="nav-link active text-warning">Symfony Sport Admin</h2>
  </li>
  <li class="nav-item">
    <a class="nav-link text-info" href="{{ path("app_logout") }}">Déconnexion</a>
  </li> 
</ul>