<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" id="site-title" href="{{ path("app_home") }}">Symfony Sport</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div><a class="nav-link active text-primary" aria-current="page" href="{{ path("app_home") }}">Accueil</a></div>        
        <div><a class="nav-link text-primary" href="{{ path("app_about") }}">About us</a></div> 
          {% if is_granted('ROLE_SPORTIF') %}
          <div><a class="nav-link text-warning" href="{{ path("profil_index") }}">Profil</a></div>
          <div><a class="nav-link text-danger" href="{{ path("app_logout") }}">Déconnexion</a></div>
          {% elseif is_granted('ROLE_ADMIN') %}
          <div><a class="nav-link text-warning" href="{{ path("admin_index") }}">Profil</a></div>
          <div><a class="nav-link text-danger" href="{{ path("app_logout") }}">Déconnexion</a></div>
          {% else %}
          <div><a class="nav-link text-warning" href="{{ path("app_login") }}">Connexion</a></div>
          <div><a class="nav-link text-success" href="{{ path("app_register") }}">Inscription</a></div>         
        {% endif %}      
      </div>    
    </div>  
      
    </div>
  </div>
</nav>