<ul class="nav justify-content-center align-items-center bg-warning">
  <li class="nav-item">
    <h2><a class="nav-link active" aria-current="page" href="{{ path("profil_index") }}">Symfony Sport profil</a></h2>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="{{ path("app_logout") }}">Déconnexion</a>
  </li> 
</ul>