<form method="post" action="{{ path('profil_delete', {'id': pratique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pratique.id) }}">
    <button class="btn btn-danger m-2">Supprimer</button>
</form>
