{{ form_start(form) }}
<div class="blocFormPratique">
        <div class="form-group mb-2">
             <label class="form-label" for="niveau">Votre niveau (dans ce sport) :</label>
             {{ form_widget(form.niveau, { 'attr': {'class': 'form-control'} }) }}
             {{ form_errors(form.niveau) }} 
        </div>
        <div class="form-group">
             <label class="custom-control-label" for="sportsData">Choisir votre sport :</label>
             {{ form_widget(form.sportsData, { 'attr': {'class': 'form-control'} }) }}
             {{ form_errors(form.sportsData) }}
        </div>
        <div class="text-center">
                <button class="btn btn-primary mb-2 mt-2">{{ button_label|default('Ajouter') }}</button>
        </div>
</div>
{{ form_end(form) }}
