{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/profil/profil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier votre activité sportive</h1>
<div class="container">

        <div class="row blocForm">
            {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}           
        </div>
        <div class="d-flex flex-column align-items-center">
            <div><a class="btn btn-warning" href="{{ path('profil_index') }}">Retour</a></div>

            <div>{{ include('profil/_delete_form.html.twig') }}</div>
        </div>
</div>
   
{% endblock %}
