{% extends 'base.html.twig' %}

{% block title %}Pratiques index{% endblock %}

{% block body %}
{% include "partials/navProfil.html.twig" %}
{% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

    {% for pratique in pratiques %}
    <h1 class="text-center">Pratiques de {{ pratique.sportifpratiques }}</h1>
    {% endfor %}
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>Niveau</th>
                <th>Sport</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pratique in pratiques %}
            <tr>
                <td>{{ pratique.niveau }}</td>
                <td>{{ pratique.sportsData }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('profil_show', {'id': pratique.id}) }}">Voir</a>
                    <a class="btn btn-warning" href="{{ path('profil_edit', {'id': pratique.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex flex-column align-items-center">
        <div><a class="btn btn-info text-dark m-2" href="{{ path('profil_new') }}">Ajouter une pratique sportive</a></div>
        <div><a class="btn btn-success m-2" href="{{ path('profilsearch') }}">Recherchez un ami sportif</a></div>
        <div><a class="btn btn-primary m-2" href="{{ path('profil_new_sport') }}">Ajouter un sport</a></div>
    </div>
    
{% endblock %}
