{% extends 'base.html.twig' %}

{% block title %}Ajouter une pratique{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/profil/profil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter une pratique sportive</h1>
<div class="container">

        <div class="row blocForm">
            {{ include('profil/_form.html.twig') }}
        </div>
</div>
<div class="eltRetrour">
    <div class="return">
        <a id="retour" href="{{ path("profil_index") }}">Retour</a>
    </div>
</div>

{% endblock %}
