{% extends 'base.html.twig' %}

{% block title %}Rajouter un sport{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/profil/profil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1 class="text-center">Ajouter un sport</h1>

    <div class="container">

        <div class="row  blocForm">
            <div class="col-sm-8 col-md-8 col-lg-9 m-2 text-center bg-white">

            {{ form_start(form) }}
                <div class="form-group mb-2">
                    <label for="name" class="col-sm-2 col-form-label">Nom du sport :</label>
                    {{ form_widget(form.name, {'attr': {"class" : "form-control form-control-sm"}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group mb-2">
                    <label for="description">Description :</label>
                    {{form_widget(form.description, {'attr': {"class" : "form-control form-control-sm"}})}}
                    {{ form_errors(form.description) }}
                </div>
                <button class="btn btn-lg btn-success m-2">{{ button_label|default('Créer') }}</button>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
<div class="eltRetrour">
    <div class="return">
        <a id="retour" href="{{ path("profil_index") }}">Retour</a>
    </div>
</div>
{% endblock %}