{% extends 'base.html.twig' %}

{% block title %}Profil, vos recherches{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/profil/profil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<h1 class="text-center">Votre recherche</h1>
<div class="table-responsive">
<table class="table">
        <thead>
            <tr class="table-primary">
                <th>Nom</th>
                <th>Prénom</th>                
                <th>Niveau</th>
                <th>Sport</th>                
                <th>Département</th>                
                <th>Contact</th>                
            </tr>
        </thead>
        <tbody>
    {% for sportifElts in sportifs %}
        {% for sportif in sportifElts %}
        <tr>
            <td>{{ sportif.sportifpratiques.nom }}</td>
            <td>{{ sportif.sportifpratiques.prenom }}</td>
            <td>{{ sportif.niveau }}</td>
            <td>{{ sportif.sportsData }}</td>
            <td>{{ sportif.sportifpratiques.departements.name }}</td>
            <td><button type="button" class="btn btn-warning">Contact</button></td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
</div>

<div class="d-flex flex-column align-items-center">
    <div><a class="btn btn-primary mb-2" href="{{ path('profilsearch') }}">Modifier votre recherche</a></div>
    <div><a class="btn btn-danger" href="{{ path('profil_index') }}">Retourner sur le tableau de bord</a></div>
</div>
{% endblock %}