{% extends 'base.html.twig' %}

{% block title %}Recherchez des sportifs{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/profil/profil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}

{% for msg in app.flashes('message') %}
        <div class="alert alert-danger" role="alert">{{ msg }}</div>
{% endfor %}

<h1 class="text-center">Recherchez un sportif</h1>

<div class="container">

    <div class="row blocForm">
        {{ form_start(form) }}
        
            <div class="form-group mb-2">
                <label class="form-label" for="niveau">Votre niveau (dans ce sport) :</label>
                {{ form_widget(form.niveau, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.niveau) }} 
            </div>  
            <div class="form-group mb-2">
                <label class="form-label" for="sportsData">Choisir le sport : </label>
                {{ form_widget(form.sportsData, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.sportsData) }} 
            </div>      
            <div class="form-group mb-2">
                <label class="form-label" for="departements">Département : </label>
                {{ form_widget(form.departements, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.departements) }} 
            </div>
            <div class="d-flex justify-content-center mb-2"><button class="btn btn-info">{{ button_label|default('Rechercher') }}</button></div>
            
        {{ form_end(form) }}
        <p class="text-center text-danger">* Champs obligatoires</p>
     </div>
</div>
<div class="eltRetrour">
    <div class="return">
        <a id="retour" href="{{ path("profil_index") }}">Retour</a>
    </div>    
</div>
{% endblock %}
