{% extends 'base.html.twig' %}

{% block title %}Pratiques{% endblock %}

{% block body %}
    <h1 class="text-center">Pratiques de {{ pratique.sportifpratiques }}</h1>

    <table class="table">
    
        <thead>
            <tr class="table-primary">
                <th>Vos différentes activitées sportives</th>     
                <th></th>                              
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Niveau</th>
                <td>{{ pratique.niveau }}</td>
            </tr>
            <tr>
                <th>Sport</th>
                <td>{{ pratique.sportsData }}</td>
            </tr>
        </tbody>
    </table>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div><a class="btn btn-warning m-2" href="{{ path('profil_index') }}">Retour</a></div>

    <div><a class="btn btn-success m-2" href="{{ path('profil_edit', {'id': pratique.id}) }}">Modifier</a></div>

    {{ include('profil/_delete_form.html.twig') }}
</div>
{% endblock %}
