{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
{% include "partials/navAdmin.html.twig" %}
<div class="example-wrapper">
        <h2 class="text-center mt-2 mb-2">Bonjour, {{ app.user.nom }}</h2>
        <div class="d-flex flex-column align-items-center"><a class="btn btn-warning mt-2 mb-2" href="{{ path('admin_sports_index') }}">Liste des sports à valider</a></div>
</div>
{% endblock %}
