/* partie css page home */

.sport-header {
  display: flex;
  flex-direction: column;
  background-color: rgb(105, 171, 236);
}
.blocPage {
  display: flex;
  justify-content: center;
  background-color: rgb(48, 117, 173);
  width: 100%;
}
.title {
  text-align: center;
  margin: 10px 0px 1em 0;
  color: rgb(35, 31, 77);
}
#site-title {
  color: rgb(35, 31, 77);
}
.sportsElts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  width: 900px;
}
.box {
  background-color: rgb(69, 161, 253);
  color: white;
  padding: 1rem;
  width: 20em;
  margin: 1rem;
  width: 250px;
  border-radius: 3px;
}

/* partie img */

.images {
  margin: 0 auto 1em;
}
#foot {
  width: 20em;
}

/* partie card */

.box-title {
  font-size: 2rem;
  color: rgb(35, 31, 77);
}
.box-text {
  text-align: justify;
}

/* partie responsive */

@media screen and (min-width: 100px) and (max-width: 800px) {
  .sportsElts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .box {
    width: 25rem;
    margin: 1rem;
    width: 250px;
  }
}
