<form method="post" action="{{ path('admin_sports_delete', {'id': sport.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sport.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
