{{ form_start(form) }}
   
        <div class="form-group mb-2">
            <label for="name" class="col-sm-2 col-form-label">Nom du sport :</label>
                {{ form_widget(form.name, {'attr': {"class" : "form-control form-control-sm"}}) }}
                {{ form_errors(form.name) }}
        </div>
        <div class="form-group mb-2">
            <label for="description">Description :</label>
            {{form_widget(form.description, {'attr': {"class" : "form-control form-control-sm"}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div>
            <label class="form-check-label" for="is_verified">Valider </label>
            {{form_widget(form.is_verified, {'attr': {"class" : "form-check-input"}}) }}
            {{ form_errors(form.is_verified) }}
        </div>        
        <div class="text-center">        
            <button class="btn btn-success m-1">{{ button_label|default('Confirmer définitivement') }}</button>
        </div>
{{ form_end(form) }}
