{% extends 'base.html.twig' %}

{% block title %}Valider un Sport{% endblock %}

{% block stylesheets %}
<link href="{{ asset('./assets/css/admin/admin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 class="text-center">Valider le sport</h1>
<div class="container">

        <div class="row blocForm">
            {{ include('admin_sports/_form.html.twig', {'button_label': 'Confirmer définitivement'}) }}
        </div>
</div>
    <div class="blocBtn">
        <div><a class="btn btn-dark m-1" href="{{ path('admin_sports_index') }}">Retour</a></div>

        <div>{{ include('admin_sports/_delete_form.html.twig') }}</div>
    </div>
    
{% endblock %}
