{% extends 'base.html.twig' %}

{% block title %}Sports index{% endblock %}

{% block stylesheets %}
<link href="{{ asset('./assets/css/admin/admin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
{% include "partials/navAdmin.html.twig" %}
    <h1 class="text-center">Sports à valider</h1>

<div class="table-responsive">

    <table class="table">
        <thead>
            <tr class="table-primary">                
                <th>Nom</th>
                <th>Description</th>
                <th>Valider</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sport in sports %}
            <tr>                
                <td>{{ sport.name }}</td>
                <td>{{ sport.description }}</td>
                <td>{{ sport.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary m-1" href="{{ path('admin_sports_show', {'id': sport.id}) }}">Détails</a>
                    <a class="btn btn-warning m-1" href="{{ path('admin_sports_edit', {'id': sport.id}) }}">Modifier et valider</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>   

<div class="eltRetrour">
    <div class="return">
        <a id="retour" href="{{ path("admin_index") }}">Tableau de bord</a>
    </div>
</div>   
{% endblock %}
