{% extends 'base.html.twig' %}

{% block title %}Sports{% endblock %}

{% block stylesheets %}
<link href="{{ asset('./assets/css/admin/admin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 class="text-center">Le sport à valider</h1>
<div class="table-responsive">
    <table class="table">
        <tbody>            
            <tr>
                <th class="table-primary">Nom</th>
                <td class="table-warning">{{ sport.name }}</td>
            </tr>
            <tr>
                <th class="table-primary">Description</th>
                <td class="table-warning">{{ sport.description }}</td>
            </tr>
            <tr>
                <th class="table-primary">Vérifier</th>
                <td class="table-warning">{{ sport.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="blocBtn">
        <div class="m-1"><a class="btn btn-dark" href="{{ path('admin_sports_index') }}">Retour</a></div>

        <div class="m-1"><a class="btn btn-warning" href="{{ path('admin_sports_edit', {'id': sport.id}) }}">Modifier ou/et valider</a></div>

        <div class="m-1">{{ include('admin_sports/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
