.blocForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* btn retour */

.eltRetrour {
  display: flex;
  justify-content: center;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.5em;
  background-color: red;
  border-radius: 5px;
}

#retour {
  display: inline-block;
  color: white;
  text-decoration: none;
}

/* formulaire pratique */

.blocFormPratique {
  display: block;
  justify-content: center;
  width: 100%;
}

/* partie result */

@media screen and (min-width: 100px) and (max-width: 800px) {
  .responsive-hidden {
    visibility: collapse;
  }
}
@media screen and (min-width: 801px) {
  .responsive-hidden {
    visibility: visible;
  }
}
