#formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
}

/* btn retour */

.eltRetrour {
  display: flex;
  justify-content: center;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.5em;
  background-color: red;
  border-radius: 5px;
}

#retour {
  display: inline-block;
  color: white;
  text-decoration: none;
}
